/* CSS declarations go here */

#protected {
    visibility: hidden;
}

.remove-skill-link {
    color: red;
    font: 15px arial, sans-serif;
    font-variant: all-small-caps;
    font-weight: bold;
    text-decoration: none;
}
